:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #0e0a2f;
  --purple-dark: #1f0249;
  --purple-medium: #50169c;
  --purple-medium-transparent: rgb(80, 22, 156, 0.3);
  --purple-light: #7d23d1;
  --pink: #d03c90;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle, var(--purple-dark) 0%, var(--black) 100%);
}
